<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>패키지 검색 테스트</title>
</head>

<body>
    <h1>패키지 검색 테스트</h1>
    <form th:action="@{/product/search}" th:object="${searchRequest}" method="post">
        키워드:<input type="text" th:field="*{keyword}"><br>
        코드:<input type="text" th:field="*{menuCode}"><br>
        <button type="submit">검색</button>
    </form>

    <h1>패키지 전체 조회 테스트</h1>
    <ul th:each="product : ${products}" style="border: 2px solid black;">
        <li th:text="${product.title}"></li>
        <li th:text="${product.productType}"></li>
        <li th:text="${product.finalPriceAdult}"></li>
        <li th:text="${product.finalPriceYouth}"></li>
        <li th:text="${product.finalPriceInfant}"></li>
        <li th:text="${product.departTimeType}"></li>

        <li th:text="${product.tour.name}"></li>
        <ul th:each="sced : ${product.tour.schedules}" style="border: 2px solid gray;">
            <li>
                <span th:text="${sced.day}"></span>
                <ul th:each="loc : ${sced.locations}" style="border: 2px solid skyblue;">
                    <li th:text="${loc.locationType}"></li>
                    <li th:text="${loc.description}"></li>
                    <li th:text="${loc.city}"></li>
                    <li th:text="${loc.departAirport != null ? loc.departAirport.airportCode : 'N/A'}"></li>
                    <li th:text="${loc.departAirport != null ? loc.arriveAirport.airportCode : 'N/A'}"></li>
                    <li th:text="${loc.seatClass != null ? loc.seatClass.classType : 'N/A'}"></li>
                    <li th:text="${loc.hotel != null ? loc.hotel.name : 'N/A'}"></li>
                    <li th:text="${loc.hotel != null ? loc.hotel.city : 'N/A'}"></li>
                </ul>
            </li>
        </ul>
    </ul>
</body>

</html>