[submodule "/home/kyj9447/FTP/WorkSpace/kyj9447/Spring/AwesomeTravel_Renewal/AwesomeTravel/src/main/java/renewal/common"]
	path = /home/kyj9447/FTP/WorkSpace/kyj9447/Spring/AwesomeTravel_Renewal/AwesomeTravel/src/main/java/renewal/common
	url = https://github.com/asTravelVoyage/AwesomeTravel_Common.git
