<div>
    <header class="section-header">

        <h1>기획전</h1>
        <div class="right">
            <i class="fas fa-chevron-left" onclick="backModal()"></i>
        </div>
    </header>

    <div class="section-body">
        <div class="modal-content">
            <ul>
                <li th:each="promotion : ${promotions}" class="promotions-item">

                    <div class="left-area" th:onclick="|addModal('/promotion/${promotion.id}')|"
                        th:style="|background-image: url('${promotion.thumnailImg}'); background-size: cover;|">

                        <div th:text="${promotion.title}"></div>
                        <div th:text="${promotion.description}"></div>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</div>