<div>
    <header class="section-header">
        <h1>여권정보 등록</h1>
        <div class="right"> <i class="fas fa-chevron-left" onclick="backModal()"></i> </div>
    </header>
    <div class="section-body">
        <div id="myPassportForm">
            <section>
                <input type="hidden" id="id" th:value="${myPassport.id}" readonly />

                <label>여권번호
                    <input type="text" id="passportNum" th:value="${myPassport.passportNum}" required /><br>
                </label>
                <label>영문 성
                    <input type="text" id="lastName" th:value="${myPassport.lastName}" required /><br>
                </label>
                <label>영문 이름
                    <input type="text" id="firstName" th:value="${myPassport.firstName}" required /><br>
                </label>
                <label>국문 성
                    <input type="text" id="lastNameKor" th:value="${myPassport.lastNameKor}" required /><br>
                </label>
                <label>국문 이름
                    <input type="text" id="firstNameKor" th:value="${myPassport.firstNameKor}" required /><br>
                </label>
                <label>생년월일
                    <input type="date" id="birth" th:value="${myPassport.birth}" required /><br>
                </label>
                <label>성별
                    <select id="sex" required>
                        <option value="MALE" th:selected="${myPassport.sex?.name() == 'MALE' or myPassport.sex == 'MALE'}">남성</option>
                        <option value="FEMALE" th:selected="${myPassport.sex?.name() == 'FEMALE' or myPassport.sex == 'FEMALE'}">여성</option>
                    </select><br>
                </label>


                <label>국가코드
                    <input type="text" id="countryCode" th:value="${myPassport.countryCode.code}" required /><br>
                </label>
                <label>국적
                    <input type="text" id="nationality" th:value="${myPassport.nationality}" required /><br>
                </label>
                <label>발급관청
                    <input type="text" id="authority" th:value="${myPassport.authority}" required /><br>
                </label>
                <label>여권 발급일
                    <input type="date" id="issue" th:value="${myPassport.issue}" required /><br>
                </label>
                <label>여권 만료일
                    <input type="date" id="expire" th:value="${myPassport.expire}" required /><br>
                </label>
            </section>
        </div>
        <div class="text-center mt-4">
            <button type="button"
                class="btn btn-primary"
                onclick="submitMyPassportForm()">
                제출
            </button>
        </div>
    </div>

    <script>

        (function () {
            window.submitMyPassportForm = async function () {

                if (isSubmitting) return;
                isSubmitting = true;

                const myPassportForm = document.getElementById('myPassportForm');

                const id = myPassportForm.querySelector("#id").value.trim();
                const passportNum = myPassportForm.querySelector("#passportNum").value.trim();
                const lastName = myPassportForm.querySelector("#lastName").value.trim();
                const firstName = myPassportForm.querySelector("#firstName").value.trim();
                const lastNameKor = myPassportForm.querySelector("#lastNameKor").value.trim();
                const firstNameKor = myPassportForm.querySelector("#firstNameKor").value.trim();
                const birth = myPassportForm.querySelector("#birth").value.trim();
                const sex = myPassportForm.querySelector("#sex").value.trim();
                const countryCode = myPassportForm.querySelector("#countryCode").value.trim();
                const nationality = myPassportForm.querySelector("#nationality").value.trim();
                const authority = myPassportForm.querySelector("#authority").value.trim();
                const issue = myPassportForm.querySelector("#issue").value.trim();
                const expire = myPassportForm.querySelector("#expire").value.trim();

                const payload = {
                    id: id,
                    passportNum: passportNum,
                    lastName: lastName,
                    firstName: firstName,
                    lastNameKor: lastNameKor,
                    firstNameKor: firstNameKor,
                    birth: birth,
                    sex: sex,
                    countryCode: countryCode,
                    nationality: nationality,
                    authority: authority,
                    issue: issue,
                    expire: expire
                };

                try {
                    // 서버 요청
                    const response = await fetch("/mypage/myPassport", {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify(payload)
                    });
                    if (!response.ok) {
                        alert(result.message || "여권정보 수정 중 오류가 발생했습니다.");
                        return;
                    }

                    alert('여권정보 수정이 완료되었습니다.');
                    closeModal();
                } catch (err) {
                    console.error(err);
                    alert("여권정보 수정 중 오류가 발생했습니다.");
                } finally {
                    isSubmitting = false;
                }
            }
        })(); 
    </script>
</div>