<div>

    <header class="section-header">
        <h1>비밀번호 찾기</h1>
        <div class="right"> <i class="fas fa-chevron-left" onclick="backModal()"></i> </div>
    </header>

    <div class="section-body">
        <div class="title">비밀번호 찾기</div>

        <div>
            가입에 사용한 이메일을 입력해주세요.
            비밀번호 재설정을 위한 안내 메일을 보내드리겠습니다.</div>

        <!-- 이메일 -->
        <label class="input-label">이메일</label>
        <div>
            <input type="email" id="email" placeholder="이메일을 입력하세요." />
        </div>
        <button id="registerBtn" class="btn-primary" onclick="submitRecoverIdRequset()">이메일 확인</button>

    </div>

    <script>
        (function () {
            let isRequested = false;
            isSubmitting = false;

            window.submitRecoverIdRequset = async function () {

                if (isSubmitting) return;
                isSubmitting = true;

                const email = document.getElementById("email").value.trim();

                // 기본 검증
                if (!email) {
                    alert("이메일을 입력해주세요.");
                    return;
                }

                const payload = {
                    email: email
                }

                try {
                    // 서버 요청
                    const response = await fetch("/recovery/password", {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify(payload)
                    });
                    if (!response.ok) {
                        alert("본인확인 중 오류가 발생했습니다.");
                        return;
                    }

                    alert("본인확인 이메일이 전송되었습니다.");
                    closeModal();

                } catch (err) {
                    console.error(err);
                    alert("본인확인 중 오류가 발생했습니다.");
                } finally {
                    isSubmitting = false;
                }
            }
        })();

    </script>
</div>