<div>
    <header class="section-header">
        <h1>예약상세</h1>
        <div class="right">
            <i class="fas fa-chevron-left" onclick="backModal()"></i>
        </div>
        <style>
            section,
            ul {
                padding: 10px;
                border: 1px solid black;
            }

            .current-status {
                background-color: lightblue;
            }
        </style>
    </header>

    <div class="section-body">
        <div class="modal-content">
            <!-- 예약 상태 진행바 -->
            <section class="status-bar">
                <ul>
                    <li th:classappend="${purchaseProduct.purchaseStatus.ordinal() >= 0 ? 'current-status' : ''}">예약접수</li>
                    <li th:classappend="${purchaseProduct.purchaseStatus.ordinal() >= 1 ? 'current-status' : ''}">담당자확인</li>
                    <li th:classappend="${purchaseProduct.purchaseStatus.ordinal() >= 2 ? 'current-status' : ''}">결제진행</li>
                    <li th:classappend="${purchaseProduct.purchaseStatus.ordinal() >= 3 ? 'current-status' : ''}">결제완료</li>
                </ul>
                <p th:if="${purchaseProduct.purchaseStatus == T(renewal.common.entity.PurchaseBase.PurchaseStatus).RESERVED}">
                    예약이 접수되었습니다. 담당자 확인 후 연락 드릴 예정입니다.
                </p>
            </section>

            <!-- 예약 상세 -->
            <section class="purchase-summary">
                <div class="product-info">
                    <img th:src="@{${purchaseProduct.product.thumbnail}}" alt="상품 이미지" />
                    <p th:text="${purchaseProduct.product.title}"></p>
                </div>
                <ul>
                    <li>예약일: <span th:text="${#temporals.format(purchaseProduct.purchaseDate, 'yyyy.MM.dd')}"></span></li>
                    <li>총 결제 금액: <span th:text="${#numbers.formatInteger(purchaseProduct.price, 0, 'COMMA')}"></span>원</li>
                    <li>기본상품가: <span th:text="${#numbers.formatInteger(purchaseProduct.finalPriceAdult, 0, 'COMMA')}"></span>원 (성인 1인 기준)</li>
                    <li>여행인원: <span th:text="'성인 ' + ${purchaseProduct.adultCount} + '명 / 아동 ' + ${purchaseProduct.youthCount} + '명 / 소아 ' + ${purchaseProduct.infantCount} + '명'"></span></li>
                    <li>여행일정: <span th:utext="
                            ${#temporals.format(purchaseProduct.departDateTime, 'yyyy.MM.dd(EE)')} + ' ~ ' + 
                            ${#temporals.format(purchaseProduct.returnDateTime, 'yyyy.MM.dd(EE)')} + '<br>' +
                            ${purchaseProduct.bak} + '박 ' + ${purchaseProduct.il} + '일'
                        "></span>
                    </li>
                </ul>
            </section>

            <!-- 여행자 정보 -->
            <section class="traveler-info">
                <h3>여행자 정보</h3>
                <div></div>
                <div th:each="passenger, iterStat : ${purchaseProduct.passengers}">
                    <ul>
                        <li>이름: <span th:text="${passenger.name}"></span></li>
                        <li>생년월일/성별: <span th:text="${passenger.birth} + ' / ' + ${passenger.sex}"></span></li>
                        <li>연령구분: <span th:text="${passenger.ageGroup}"></span></li>
                        <li>여권정보: <span th:text="${passenger.completed ? '등록완료' : '미등록'}">
                        <li>금액: <span th:text="
                                ${passenger.ageGroup == T(renewal.common.entity.Passenger.AgeGroup).ADULT} ? ${#numbers.formatInteger(purchaseProduct.finalPriceAdult, 0, 'COMMA')} :
                                (${passenger.ageGroup == T(renewal.common.entity.Passenger.AgeGroup).YOUTH} ? ${#numbers.formatInteger(purchaseProduct.finalPriceYouth, 0, 'COMMA')} :
                                ${#numbers.formatInteger(purchaseProduct.finalPriceInfant, 0, 'COMMA')})
                            "></span>원
                        </li>
                    </ul>
                </div>
                <div th:onclick="|openModal('/product/purchase/${purchaseProduct.id}/passport')|">여권정보 등록</div>
            </section>

            <!-- 항공 정보 -->
            <section class="air-info">
                <h3>항공 정보</h3>

                <div th:if="${purchaseProduct.finalSeatClasses.size() > 0}">
                    <!-- 출발 구간 -->
                    <div>
                        <strong>한국출발</strong>
                        <span th:text="${#temporals.format(purchaseProduct.finalSeatClasses[0].departDateTime, 'yyyy.MM.dd(EE) HH:mm')}"></span>
                        <div>
                            <span th:text="${purchaseProduct.airline.nameKor}"></span>
                            <span th:text="${purchaseProduct.finalSeatClasses[0].flightNumber}"></span><br>
                            출발 <span th:text="${#temporals.format(purchaseProduct.finalSeatClasses[0].departDateTime,'yyyy.MM.dd(EE) HH:mm')}"></span>
                            <span th:text="${purchaseProduct.finalSeatClasses[0].departAirport}"></span><br>
                            도착 <span th:text="${#temporals.format(purchaseProduct.finalSeatClasses[0].arriveDateTime,'yyyy.MM.dd(EE) HH:mm')}"></span>
                            <span th:text="${purchaseProduct.finalSeatClasses[0].arriveAirport}"></span><br>
                            <span th:text="${#numbers.formatInteger(purchaseProduct.finalSeatClasses[0].flightDuration / 60, 2)} 
                                + ':' + 
                                ${#numbers.formatInteger(purchaseProduct.finalSeatClasses[0].flightDuration % 60, 2)}
                                + ' 소요'">
                            </span>
                        </div>
                    </div>

                    <!-- 도착 구간 -->
                    <div th:if="${purchaseProduct.finalSeatClasses.size() > 1}">
                        <strong>한국도착</strong>
                        <span th:text="${#temporals.format(purchaseProduct.finalSeatClasses[purchaseProduct.finalSeatClasses.size()-1].departDateTime, 'yyyy.MM.dd(EE) HH:mm')}"></span>
                        <div>
                            <span th:text="${purchaseProduct.airline.nameKor}"></span>
                            <span th:text="${purchaseProduct.finalSeatClasses[purchaseProduct.finalSeatClasses.size() - 1].flightNumber}"></span><br>
                            출발 <span th:text="${#temporals.format(purchaseProduct.finalSeatClasses[purchaseProduct.finalSeatClasses.size()-1].departDateTime,'yyyy.MM.dd(EE) HH:mm')}"></span>
                            <span th:text="${purchaseProduct.finalSeatClasses[purchaseProduct.finalSeatClasses.size()-1].departAirport}"></span><br>
                            도착 <span th:text="${#temporals.format(purchaseProduct.finalSeatClasses[purchaseProduct.finalSeatClasses.size()-1].arriveDateTime,'yyyy.MM.dd(EE) HH:mm')}"></span>
                            <span th:text="${purchaseProduct.finalSeatClasses[purchaseProduct.finalSeatClasses.size()-1].arriveAirport}"></span><br>
                            <span th:text="${#numbers.formatInteger(purchaseProduct.finalSeatClasses[purchaseProduct.finalSeatClasses.size()-1].flightDuration / 60, 2)} 
                                + ':' + 
                                ${#numbers.formatInteger(purchaseProduct.finalSeatClasses[purchaseProduct.finalSeatClasses.size()-1].flightDuration % 60, 2)}
                                + ' 소요'">
                            </span>
                        </div>
                    </div>
                </div>


            </section>

            <!-- 결제 정보 -->
            <section class="payment-info">
                <h3>결제 정보</h3>
                <ul>
                    <span>상품가격</span>
                    <li>
                        <span th:text="${'성인 x ' + purchaseProduct.adultCount + '명'}"></span>
                        <span th:text="${'= ' + #numbers.formatInteger(purchaseProduct.finalPriceAdult * purchaseProduct.adultCount, 0, 'COMMA') + '원'}"></span>
                    </li>
                    <li>
                        <span th:text="${'청소년 x ' + purchaseProduct.youthCount + '명'}"></span>
                        <span th:text="${'= ' + #numbers.formatInteger(purchaseProduct.finalPriceYouth * purchaseProduct.youthCount, 0, 'COMMA') + '원'}"></span>
                    </li>
                    <li>
                        <span th:text="${'영유아 x ' + purchaseProduct.infantCount + '명'}"></span>
                        <span th:text="${'= ' + #numbers.formatInteger(purchaseProduct.finalPriceInfant * purchaseProduct.infantCount, 0, 'COMMA') + '원'}"></span>
                    </li>
                </ul>
                <p>총 금액: <span th:text="${#numbers.formatInteger(purchaseProduct.price,0,'COMMA')}"></span>원</p>
            </section>

            <!-- 담당자 정보 -->
            <section class="handler-info" th:if="${handler != null}">
                <h3>담당자 정보</h3>
                <ul>
                    <li>상품담당: <span th:text="${handler.name}"></span></li>
                    <li>이메일: <span th:text="${handler.email}"></span></li>
                    <li>전화: <span th:text="${handler.phone}"></span></li>
                    <li>팩스: <span th:text="${handler.fax}"></span></li>
                </ul>
            </section>

            <!-- 하단 버튼 -->
            <footer class="modal-footer">
                <button th:if="${purchaseProduct.purchaseStatus != T(renewal.common.entity.PurchaseBase.PurchaseStatus).PAID}"
                    type="button" onclick="cancelPayment()">결제취소</button>
                <button th:if="${purchaseProduct.purchaseStatus == T(renewal.common.entity.PurchaseBase.PurchaseStatus).PAID}"
                    type="button" onclick="cancelReservation()">예약취소</button>
            </footer>
        </div>
    </div>