<div>
    <header class="section-header">
        <h1>예약 내역</h1>
        <div class="right">
            <i class="fas fa-chevron-left" onclick="prevSection()"></i>
        </div>

    </header>

    <div class="section-body">
        <div th:each="purchaseProduct : ${purchaseProducts}">
            <ul>
                <li th:onclick="'openModal(\'/product/purchase/' + ${purchaseProduct.id} + '\')'">
                    <span th:text="${purchaseProduct.product.title}">상품명</span>
                </li>
            </ul>
        </div>

        <div th:each="purchaseAir : ${purchaseAirs}">
            <ul>
                <li th:onclick="'openModal(\'/air/purchase/' + ${purchaseAir.id} + '\')'">
                    <span th:text="${purchaseAir.title}">상품명</span>
                </li>
            </ul>
        </div>
    </div>